body{
    text-align: center;
    margin-top: 100px;
}
#demo{
    font-size: x-large;
    color:chocolate;
    border-radius:5px;
    border-style: double;
    border-color: blueviolet;
    margin-left: 300px;
    margin-right: 300px;
}
h1{
    color: mediumspringgreen;
    
}
h1:hover{
    color:blue
}
